[Unit]
Description=OpenConnect client to Cisco AnyConnect VPN
Documentation=man:openconnect(8)
After=network.target

[Service]
Environment=PIDFILE=/run/openconnect.pid
Environment=IFACE=vpn0
Environment=CONF=/etc/openconnect.conf
EnvironmentFile=-/etc/default/openconnect
Type=forking
PIDFile=$PIDFILE
ExecStart=/usr/sbin/openconnect -b --pid-file $PIDFILE -i $IFACE --config $CONF
ExecReload=/bin/kill -USR2 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target

